<div fxLayout="column" fxFill fxLayoutGap="4px">
  <div id="row-1" fxLayout fxFlex fxLayoutGap="4px">
    <button md-raised-button fxFlex class="btn-calc" (click)="type(1)"><strong>1</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="type(2)"><strong>2</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="type(3)"><strong>3</strong></button>
  </div>
  <div id="row-2" fxLayout fxFlex fxLayoutGap="4px">
    <button md-raised-button fxFlex class="btn-calc" (click)="type(4)"><strong>4</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="type(5)"><strong>5</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="type(6)"><strong>6</strong></button>
  </div>
  <div id="row-3" fxLayout fxFlex fxLayoutGap="4px">
    <button md-raised-button fxFlex class="btn-calc" (click)="type(7)"><strong>7</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="type(8)"><strong>8</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="type(9)"><strong>9</strong></button>
  </div>
  <div id="row-4" fxLayout fxFlex fxLayoutGap="4px">
    <button md-raised-button fxFlex class="btn-calc" (click)="comma()"><strong>,</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="type(0)"><strong>0</strong></button>
    <button md-raised-button fxFlex class="btn-calc" (click)="delete()"><strong><-</strong></button>
  </div>
</div>
