<div class="mat-app-background">
  <md-toolbar>
    <md-icon>home</md-icon> Servant 3
    <span class="fill-space"></span>

    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu #appMenu="mdMenu">
      <button md-menu-item> Daten importieren </button>
      <button md-menu-item> Daten exportieren </button>
      <button md-menu-item> Umsatz </button>
      <button md-menu-item> Einstellungen </button>
    </md-menu>
  </md-toolbar>

  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding: 0">
      <div class="margin-box" style="margin-right: 5px">
        <md-card>
          <md-card-title class="flex">Bons
            <span class="fill-space"></span>
            <button md-icon-button [mdMenuTriggerFor]="bonMenu">
              <md-icon>more_vert</md-icon>
            </button>

            <md-menu #bonMenu="mdMenu">
              <button md-menu-item (click)="stopPropagation($event)"><md-slide-toggle (change)="addBonChanged($event)" labelPosition="before">Bon hinzufügen</md-slide-toggle></button>
              <button md-menu-item (click)="stopPropagation($event)"><md-slide-toggle (change)="editBonChanged($event)" #editBonToggle labelPosition="before">Bon bearbeiten</md-slide-toggle></button>
              <button md-menu-item (click)="stopPropagation($event)"><md-slide-toggle (change)="deleteBonChanged($event)" #deleteBonToggle labelPosition="before">Bon entfernen&nbsp;&nbsp;</md-slide-toggle></button>
            </md-menu>
          </md-card-title>
          <div class="bon-list">
            <app-bon *ngFor="let b of bonList; trackBy: bonUUID" [bon]="b" [mode]="bonMode" (change)="bonChange($event)"></app-bon>
            <button *ngIf="addBonMode" md-raised-button color="accent" style="width: 100px; height: 100px;">
              <md-icon>add</md-icon><br/><strong>Neuer Bon</strong>
            </button>
          </div>
        </md-card>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="margin-box" style="margin-left: 5px">
        <md-card class="bill-box">
          <md-card-title>Bill</md-card-title>
          <md-list>
            <ng-template ngFor let-bon [ngForOf]="billList">
              <md-list-item [style.backgroundColor]="bon.color"> {{ bonCount(bon) }}x&nbsp;<strong>{{ bon.name }}</strong> </md-list-item>
              <md-divider></md-divider>
            </ng-template>
          </md-list>
        </md-card>
        <md-card class="calculator-box">
          <md-card-title>Calculator</md-card-title>
        </md-card>
      </div>
    </div>
  </div>
</div>
