<div class="mat-app-background" fxLayout="column" fxFill>
  <md-toolbar>
    &nbsp;<md-icon>home</md-icon>&nbsp;
    Servant 3
    <span class="fill-space"></span>

    <button md-icon-button (click)="toggleFullscreen()">
      <md-icon *ngIf="isFullscreen">fullscreen</md-icon>
      <md-icon *ngIf="!isFullscreen">fullscreen_exit</md-icon>
    </button>

    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu #appMenu="mdMenu">
      <button md-menu-item (click)="import()"> Daten importieren</button>
      <button md-menu-item (click)="export()"> Daten exportieren</button>
      <button md-menu-item (click)="openSalesDialog()"> Umsatz</button>
      <button md-menu-item (click)="openSortDialog()"> Bons sortieren</button>
      <button md-menu-item (click)="stopPropagation($event)">
        <md-checkbox (change)="addBonChanged($event)" labelPosition="before">Bon hinzufügen</md-checkbox>
      </button>
      <button md-menu-item (click)="stopPropagation($event)">
        <md-checkbox (change)="editBonChanged($event)" #editBonToggle labelPosition="before">Bon bearbeiten
        </md-checkbox>
      </button>
      <button md-menu-item (click)="stopPropagation($event)">
        <md-checkbox (change)="deleteBonChanged($event)" #deleteBonToggle labelPosition="before">Bon entfernen&nbsp;&nbsp;</md-checkbox>
      </button>
    </md-menu>
  </md-toolbar>

  <div class="content" fxFlex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.xs="column"
       fxLayoutGap="10px">
    <div class="bons" fxFlex="65%" fxLayoutAlign=" stretch">
      <md-card fxFlex fxLayout="column">
        <div class="bon-list" fxFill>
          <app-bon *ngFor="let b of bonList; trackBy: bonUUID" [bon]="b" [mode]="bonMode"
                   (change)="bonChange($event)"></app-bon>
          <button *ngIf="addBonMode" md-raised-button color="accent" (click)="addBon()"
                  style="width: 130px; height: 130px; vertical-align: top; margin: 12px;">
            <md-icon>add</md-icon>
            <br/><strong>Neuer Bon</strong>
          </button>
        </div>
      </md-card>
    </div>
    <div class="bill-calc" fxFlex fxLayoutAlign=" stretch" fxLayout="column" fxFill>
      <md-card class="bill-box" fxFlex fxLayout="column">
        <md-list fxFlex fxFill id="bill-list">
          <app-bill-item *ngFor="let bon of billList; trackBy: billUUID" [bon]="bon" [count]="billMap.get(bon.uuid)" (onReduce)="reduceBon(bon)"></app-bill-item>
        </md-list>
        <div id="result-line" fxLayout>
          <strong>Gesamtbetrag:</strong>
          <span class="fill-space"></span>
          <strong>{{ format(totalResult) }}€</strong>
        </div>
      </md-card>
      <md-card class="calculator-box" fxFlex="350px">
        <div fxLayout="column" fxFill>
          <div fxLayout fxFlex fxLayoutGap="10px">
            <div fxFlex="80%" fxLayout="column" fxFill fxLayoutGap="4px">
              <div fxLayout><strong>Gegeben:</strong><span class="fill-space"></span><span id="calc-result">{{ calculatorResult }}</span>
              </div>
              <div fxLayout [class.return-error]="returnMoney < 0"><strong>Retour:</strong><span
                class="fill-space"></span><span id="calc-return">{{ format(returnMoney) }}€</span></div>
              <app-calculator fxFlex (change)="calculatorChange($event)"></app-calculator>
            </div>
            <div fxFlex fxLayout="column" fxLayoutGap="4px">
              <button md-raised-button fxFlex id="btn-pay" (click)="pay()"><strong>Bezahlen</strong></button>
              <button md-raised-button fxFlex id="btn-reverse" (click)="revert()"><strong>Stornieren</strong></button>
              <button md-raised-button fxFlex id="btn-cancel" (click)="reset()"><strong>Abbrechen</strong></button>
            </div>
          </div>
        </div>
      </md-card>
    </div>
  </div>
</div>
