html {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  height: 100vh;
}

.mat-app-background {
  height: 100%;
}

.mat-toolbar {
  padding: 0 !important;
}

.bon-list button {
  margin: 10px;
}

.bon-list {
  overflow-y: auto;
}

.fill-space {
  flex: 1 1 auto;
}

.flex {
  display: flex !important;
}

.content {
  margin: 10px;
  overflow: auto
}

.mat-ripple {
  transition: none !important;
  display: none !important;
  visibility: hidden;
}

.mat-button-focus-overlay {
  transition: none !important;
  display: none !important;
  visibility: hidden;
}

.mat-raised-button {
  transition: none !important;
}

.mat-list-item-content {
  width: 100%;
}
